/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular.eot");
  src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight.eot");
  src: url("../fonts/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight.woff") format("woff"), url("../fonts/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoSemibold";
  src: url("../fonts/LatoSemibold.eot");
  src: url("../fonts/LatoSemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoSemibold.woff") format("woff"), url("../fonts/LatoSemibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
}
small {
  font-size: 12px;
}
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
body {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  padding: 30px 0 35px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.header-logo img {
  display: block;
  width: 235px;
}
.header-menu {
  margin-left: 155px;
  padding-top: 20px;
  font-family: 'LatoLight', 'Roboto', sans-serif;
}
.header-menu ul li {
  display: inline-block;
  margin-right: 16px;
  vertical-align: top;
}
.header-menu ul li:after {
  content: '/';
  margin-left: 20px;
  color: #b2b2b2;
}
.header-menu ul li:last-child {
  margin-right: -4px;
}
.header-menu ul li:last-child:after {
  content: none;
}
.header-menu ul a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header-menu ul a:hover {
  border-color: #000;
}
.header-contact {
  text-align: right;
}
.header-phone {
  display: block;
  margin-bottom: 5px;
  padding-left: 25px;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000;
  background: url('../img/icon-phone-black.png') no-repeat left center;
  text-decoration: none;
}
.header-callback {
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 18px;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
}
.header-callback:hover {
  border-color: transparent;
}
main {
  padding-top: 125px;
}
.promo {
  min-height: 791px;
  padding-top: 73px;
  color: #fff;
  background: url('../img/bg-promo.jpg') no-repeat center top;
}
.promo-dog {
  position: absolute;
  width: 444px;
  height: 788px;
  top: -65px;
  background: url('../img/icon-doggy.png') no-repeat center center;
  left: -200px;
  opacity: 0;
  transition: all 1.2s ease;
}
.promo-dog.visible {
  opacity: 1;
  left: 65px;
}
.promo-title,
.promo-subtitle {
  margin-left: 555px;
}
.promo-title {
  margin-top: 20px;
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
}
.promo-subtitle {
  margin-top: 40px;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
form {
  width: 815px;
  padding: 35px 74px 45px;
  border: 5px solid #e67e22;
  border-radius: 15px;
}
form input[type=text],
form input[type=email],
form textarea,
form select {
  padding: 3px 23px 0;
  font-family: 'LatoLight', 'Roboto', sans-serif;
  color: #808080;
  background: transparent;
  border: 1px solid #808080;
  border-radius: 15px;
}
form input[type=text],
form input[type=email],
form select,
form .select-wrapper {
  display: inline-block;
  width: 310px;
  height: 50px;
  margin-bottom: 20px;
  vertical-align: top;
}
form input[type=text]:nth-child(even),
form input[type=email]:nth-child(even),
form .select-wrapper:nth-child(even) {
  margin-right: 32px;
}
form input[type=text].fullwidth,
form input[type=email].fullwidth {
  display: block;
  width: 100%;
  margin-right: 0;
}
form textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 15px;
  resize: none;
}
form input[type=submit] {
  position: relative;
  display: block;
  height: 60px;
  margin: 30px auto 0;
  padding: 0 130px;
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #e67e22;
  border: none;
  border-bottom: 4px solid #703b0d;
  border-radius: 15px;
}
form input[type=submit]:hover {
  background: #e98b39;
  border-bottom-color: #874710;
}
form input[type=submit]:active {
  top: 4px;
  background: #e67e22;
  border-bottom: none;
}
form input[type=submit][disabled] {
  background: #9a9a9a !important;
  border-bottom-color: grey !important;
  pointer-events: none;
}
form .select-wrapper {
  width: 310px;
  height: 50px;
  background: url('../img/icon-select-grey.png') no-repeat right 20px center;
}
form select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-title {
  margin: 0 0 40px;
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #000;
}
.promo-form {
  position: relative;
  margin-top: 20px;
  background: #fff;
}
.promo-title,
.promo-subtitle,
.promo-form {
  position: relative;
  right: -200px;
  opacity: 0;
  transition: all 1.2s ease;
}
.promo-title.visible,
.promo-subtitle.visible,
.promo-form.visible {
  opacity: 1;
  right: 0;
}
.block-title {
  display: block;
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 45px;
  text-align: center;
}
.problems {
  padding: 73px 0;
  background: #fff;
  text-align: center;
}
.problems-list {
  margin-top: 64px;
  padding: 0 25px;
}
.problems-single-wrapper {
  display: inline-block;
  width: 33.333333333333%;
  margin-right: -4px;
  vertical-align: top;
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.8s ease;
}
.problems-single-wrapper.visible {
  bottom: 0;
  opacity: 1;
}
.problems-single {
  width: 240px;
  margin: 0 auto;
  text-align: center;
}
.problems-single .img-wrapper {
  display: block;
  height: 144px;
}
.problems-single figcaption {
  font-size: 20px;
  line-height: 25px;
}
.problems-single-wrapper:first-child .problems-single {
  margin-left: 0;
}
.problems-single-wrapper:last-child .problems-single {
  margin-right: 0;
}
.problems-single-wrapper:last-child img {
  margin-top: 10px;
}
.problems-solution {
  position: relative;
  margin: 64px 0 0;
  padding: 15px 0;
  padding-left: 25px;
  font-size: 30px;
  line-height: 40px;
  text-align: left;
}
.problems-solution span {
  font-family: 'LatoLight', 'Roboto', sans-serif;
}
.problems-solution:before,
.problems-solution:after {
  position: absolute;
  content: url('../img/icon-corner-orange.png');
}
.problems-solution:before {
  top: 0;
  left: 0;
}
.problems-solution:after {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
.advantages {
  position: relative;
  min-height: 880px;
  padding: 65px 0 0;
  text-align: center;
  color: #fff;
  background: url('../img/bg-advantages.jpg') no-repeat top center;
}
.advantages-shepherd {
  position: absolute;
  width: 268px;
  height: 439px;
  left: 0;
  top: -345px;
  background: url('../img/icon-shepherd.png') no-repeat center center;
  z-index: 1;
}
.advantages-list {
  margin-top: 64px;
  padding: 0 25px;
}
.advantages-single-wrapper {
  display: inline-block;
  width: 25%;
  margin-right: -4px;
  vertical-align: top;
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.8s ease;
}
.advantages-single-wrapper.visible {
  bottom: 0;
  opacity: 1;
}
.advantages-single {
  width: 240px;
  margin: 0 auto;
  text-align: center;
}
.advantages-single .img-wrapper {
  display: block;
  height: 151px;
}
.advantages-single figcaption {
  font-size: 20px;
  line-height: 25px;
}
.advantages-single-wrapper:first-child .advantages-single {
  margin-left: 0;
}
.advantages-single-wrapper:last-child .advantages-single {
  margin-right: 0;
}
.advantages-single-wrapper:not(:nth-child(2)) img {
  margin-top: 5px;
}
.advantages-fake {
  margin: 50px 0 43px;
  padding: 30px 0;
  font-size: 30px;
  border-radius: 15px;
  background: #e67e22;
}
.advantages-justdoit {
  display: block;
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 50px;
}
.advantages-results {
  margin: 35px 0 0;
  padding: 0;
  text-align: left;
  list-style-position: inside;
}
.advantages-results li {
  font-size: 25px;
  line-height: 45px;
}
.advantages-results li span {
  font-family: 'LatoLight', 'Roboto', sans-serif;
}
.programms {
  padding: 65px 0 45px;
  background: #fff;
}
.programms-table-wrapper {
  position: relative;
  margin: 50px 0;
}
.programms-table-wrapper table {
  width: 100%;
}
.programms-table-wrapper table td,
.programms-table-wrapper table th {
  padding: 20px 0;
  text-align: center;
}
.programms-table-wrapper table th {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background: #e67e22;
}
.programms-table-wrapper table th:first-child,
.programms-table-wrapper table td:first-child {
  padding-left: 45px;
  text-align: left;
}
.programms-table-wrapper table tr:nth-child(odd) td {
  background: #ecf0f1;
}
.programms-table-wrapper table a {
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px dashed #000;
}
.programms-table-wrapper table a:hover {
  border-color: transparent;
}
.programms-decor-ball,
.programms-decor-bone {
  position: absolute;
}
.programms-decor-ball {
  width: 73px;
  height: 74px;
  top: -8px;
  left: -48px;
  background: url('../img/icon-ball-yellow.png') no-repeat center center;
}
.programms-decor-bone {
  width: 83px;
  height: 106px;
  top: -28px;
  right: -37px;
  background: url('../img/icon-bone-pink.png') no-repeat center center;
}
.programms-comments {
  text-align: center;
}
.programms-comments p {
  margin: 35px 0 0;
}
.programms-comments strong {
  display: block;
  margin-bottom: 5px;
}
.video {
  min-height: 860px;
  padding: 120px 0 0;
  color: #fff;
  background: url('../img/bg-video.jpg') no-repeat center top;
}
.video .block-title {
  margin-left: 535px;
  padding-left: 43px;
  text-align: left;
  border-left: 8px solid #e67e22;
  position: relative;
  left: -150px;
  opacity: 0;
  transition: all 0.7s ease;
}
.video .block-title.visible {
  left: 0;
  opacity: 1;
}
.video-slider {
  width: 680px;
  margin-top: 70px;
  margin-left: 535px;
  text-align: center;
  position: relative;
  left: -150px;
  opacity: 0;
  transition: all 0.7s ease;
}
.video-slider.visible {
  left: 0;
  opacity: 1;
}
.video-slide img {
  cursor: pointer;
}
.video-slider-prev,
.video-slider-next {
  position: absolute;
  width: 33px;
  height: 55px;
  top: 150px;
  background: url('../img/icon-arrow-grey.png') no-repeat center center;
  cursor: pointer;
}
.video-slider-prev:hover,
.video-slider-next:hover {
  opacity: 0.8;
}
.video-slider-prev {
  left: -70px;
}
.video-slider-next {
  right: -70px;
  transform: rotate(180deg);
}
.slick-dots {
  display: inline-block;
  margin: 30px 0 0;
  padding: 14px 44px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}
.slick-dots li {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 16px;
  background: #fff;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}
.slick-dots li:last-child {
  margin-right: -4px;
}
.slick-dots li.slick-active {
  background: #e67e22;
}
.slick-dots button {
  display: none;
}
.contacts {
  position: relative;
  padding: 60px 0 180px;
  background: #fef9f4;
  text-align: center;
}
.contacts-phone,
.contacts-email {
  display: inline-block;
  margin: 55px 0 45px;
  margin-right: -4px;
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 25px;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
}
.contacts-phone {
  padding-left: 35px;
  background: url('../img/icon-phone-white.png') no-repeat left center;
  position: relative;
  left: -100px;
  opacity: 0;
  transition: all 0.9s ease;
}
.contacts-phone.visible {
  left: 0;
  opacity: 1;
}
.contacts-email {
  margin-left: 105px;
  padding-left: 40px;
  background: url('../img/icon-email-white.png') no-repeat left center;
  position: relative;
  right: -100px;
  opacity: 0;
  transition: all 0.9s ease;
}
.contacts-email span {
  padding-bottom: 2px;
  border-bottom: 1px dashed #000;
}
.contacts-email:hover span {
  border-color: transparent;
}
.contacts-email.visible {
  right: 0;
  opacity: 1;
}
.contacts-form {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background: #fef9f4;
  z-index: 1;
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.9s ease;
}
.contacts-form.visible {
  opacity: 1;
  bottom: 0;
}
.contacts-bulldog {
  position: absolute;
  width: 545px;
  height: 375px;
  right: 20px;
  bottom: 30px;
  background: url('../img/icon-bulldog.png') no-repeat center center;
}
.modal {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding: 25px;
  background: #fff;
  border: 5px solid #e67e22;
  border-radius: 15px;
}
.modal ul {
  padding: 0;
  list-style-position: inside;
}
.modal ul li {
  line-height: 25px;
}
#thanks {
  max-width: 350px;
  text-align: center;
}
.modal-title {
  display: block;
  margin: 0 0 20px;
  font-size: 18px;
}
.mfp-container {
  overflow: hidden;
}
@media screen and (max-width: 1800px) {
  .advantages-shepherd {
    display: none;
  }
}
@media screen and (max-width: 1380px) {
  .programms-decor-ball,
  .programms-decor-bone {
    display: none;
  }
}
@media screen and (max-width: 1330px) {
  .container {
    width: 1000px;
  }
  .header-menu {
    width: 350px;
    margin-left: 60px;
    padding-top: 5px;
  }
  .header-menu ul li {
    width: 50%;
    margin-right: -4px;
    margin-bottom: 10px;
  }
  .header-menu ul li:after {
    content: none;
  }
  .promo-dog.animate {
    left: -65px;
  }
  .promo-title,
  .promo-subtitle {
    margin-left: 260px;
  }
  .promo-title.animate,
  .promo-subtitle.animate {
    right: 0;
  }
  .promo-title.animate,
  .promo-subtitle.animate,
  .promo-form.animate {
    right: 0;
  }
  .advantages {
    background-size: cover;
    padding-bottom: 60px;
  }
  .advantages-single {
    width: 220px;
  }
  .problems-single-wrapper.animate,
  .advantages-single-wrapper.animate {
    bottom: 0;
  }
  .video .block-title {
    margin-left: 350px;
  }
  .video-slider {
    margin-left: auto;
    margin-right: auto;
  }
  .video .block-title.animate,
  .video-slider.animate {
    left: 0;
  }
  .contacts-phone.animate {
    left: 0;
  }
  .contacts-email.animate {
    right: 0;
  }
  .contacts-form.animate {
    bottom: 0;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-menu,
  .promo-dog {
    display: none;
  }
  header {
    height: 167px;
    padding: 15px 0;
  }
  .header-logo,
  .header-contact {
    float: none;
  }
  .header-contact {
    display: block;
    margin-top: 20px;
    text-align: left;
  }
  main {
    padding-top: 167px;
  }
  .promo,
  .problems,
  .advantages,
  .programms,
  .video,
  .contacts {
    padding: 25px 0;
  }
  .promo {
    background: url('../img/bg-promo-mobile.jpg') no-repeat left top;
    background-size: cover;
  }
  .promo-subtitle,
  .promo-title {
    margin-left: 0;
  }
  form {
    width: 100%;
    padding: 25px 20px;
  }
  form input[type=text],
  form input[type=email],
  form select,
  form .select-wrapper {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  form input[type=submit] {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .problems-list,
  .advantages-list {
    margin: 25px 0 0;
    padding: 0;
  }
  .problems-single-wrapper,
  .advantages-single-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  .problems-single,
  .advantages-single {
    width: 100%;
  }
  .problems-solution {
    margin-top: 0;
    font-size: 26px;
  }
  .advantages-fake {
    margin-top: 0;
  }
  .advantages-results li {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: normal;
  }
  .programms-table-wrapper {
    width: 100%;
    margin: 25px 0;
    overflow-x: scroll;
  }
  .programms-table-wrapper table {
    width: 1100px;
  }
  .video {
    min-height: 0;
    background-size: cover;
  }
  .video .block-title {
    margin-left: 0;
    padding-left: 0;
    border: none;
  }
  .video-slider {
    width: 100%;
    margin-top: 25px;
  }
  .video-slider-prev,
  .video-slider-next {
    display: none !important;
  }
  .slick-dots {
    width: 100%;
    padding: 10px;
  }
  .contacts-phone,
  .contacts-email {
    display: block;
    margin: 25px 0;
  }
  .contacts-bulldog {
    display: none;
  }
  .mfp-container {
    overflow: inherit;
  }
}
