@media screen and (max-width: 1800px) {

    .advantages-shepherd {
        display: none;
    }
}

@media screen and (max-width: 1380px) {

    .programms-decor-ball,
    .programms-decor-bone {
        display: none;
    }
}

@media screen and (max-width: 1330px) {

    .container {
        width: 1000px;
    }

    .header-menu {
        width: 350px;
        margin-left: 60px;
        padding-top: 5px;

        ul {

            li {
                width: 50%;
                margin-right: -4px;
                margin-bottom: 10px;

                &:after {
                    content: none;
                }
            }
        }
    }

    .promo-dog.animate {
        left: -65px;
    }

    .promo-title,
    .promo-subtitle {
        margin-left: 260px;

        &.animate {
            right: 0;
        }
    }

    .promo-title,
    .promo-subtitle,
    .promo-form {

        &.animate {
            right: 0;
        }
    }

    .advantages {
        background-size: cover;
        padding-bottom: 60px;
    }

    .advantages-single {
        width: 220px;
    }

    .problems-single-wrapper,
    .advantages-single-wrapper {

        &.animate {
            bottom: 0;
        }
    }

    .video {

        .block-title {
            margin-left: 350px;
        }
    }

    .video-slider {
        margin-left: auto;
        margin-right: auto;
    }

    .video .block-title,
    .video-slider {

        &.animate {
            left: 0;
        }
    }

    .contacts-phone {

        &.animate {
            left: 0;
        }
    }

    .contacts-email {

        &.animate {
            right: 0;
        }
    }

    .contacts-form {

        &.animate {
            bottom: 0;
        }
    }
}

@media screen and (max-width: 1023px) {

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-menu,
    .promo-dog {
        display: none;
    }

    header {
        height: 167px;
        padding: 15px 0;
    }

    .header-logo,
    .header-contact {
        float: none;
    }

    .header-contact {
        display: block;
        margin-top: 20px;
        text-align: left;
    }

    main {
        padding-top: 167px;
    }

    .promo,
    .problems,
    .advantages,
    .programms,
    .video,
    .contacts {
        padding: 25px 0;
    }

    .promo {
        background: url('../img/bg-promo-mobile.jpg') no-repeat left top;
        background-size: cover;
    }

    .promo-subtitle,
    .promo-title {
        margin-left: 0;
    }

    form {
        width: 100%;
        padding: 25px 20px;

        input[type=text],
        input[type=email],
        select,
        .select-wrapper {
            display: block;
            width: 100%;
            margin-right: 0;
        }

        input[type=submit] {
            width: 100%;
            margin-top: 20px;
            padding: 0;
        }
    }

    .problems-list,
    .advantages-list {
        margin: 25px 0 0;
        padding: 0;
    }

    .problems-single-wrapper,
    .advantages-single-wrapper {
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }

    .problems-single,
    .advantages-single {
        width: 100%;
    }

    .problems-solution {
        margin-top: 0;
        font-size: 26px;
    }

    .advantages-fake {
        margin-top: 0;
    }

    .advantages-results {

        li {
            margin-bottom: 15px;
            font-size: 20px;
            line-height: normal;
        }
    }

    .programms-table-wrapper {
        width: 100%;
        margin: 25px 0;
        overflow-x: scroll;

        table {
            width: 1100px;
        }
    }

    .video {
        min-height: 0;
        background-size: cover;

        .block-title {
            margin-left: 0;
            padding-left: 0;
            border: none;
        }
    }

    .video-slider {
        width: 100%;
        margin-top: 25px;
    }

    .video-slider-prev,
    .video-slider-next {
        display: none !important;
    }

    .slick-dots {
        width: 100%;
        padding: 10px;
    }

    .contacts-phone,
    .contacts-email {
        display: block;
        margin: 25px 0;
    }

    .contacts-bulldog {
        display: none;
    }

    // #inner scroll fix
    .mfp-container {
        overflow: inherit;
    }
}
