// #header
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    padding: 30px 0 35px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.header-logo {

    img {
        display: block;
        width: 235px;
    }
}

.header-menu {
    margin-left: 155px;
    padding-top: 20px;
    font-family: @light;

    ul {

        li {
            display: inline-block;
            margin-right: 16px;
            vertical-align: top;

            &:after {
                content: '/';
                margin-left: 20px;
                color: #b2b2b2;
            }
            &:last-child {
                margin-right: -4px;
            }
            &:last-child:after {
                content: none;
            }
        }

        a {
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid transparent;

            &:hover {
                border-color: #000;
            }
        }
    }
}

.header-contact {
    text-align: right;
}

.header-phone {
    display: block;
    margin-bottom: 5px;
    padding-left: 25px;
    font-family: @regular;
    font-size: 25px;
    line-height: 30px;
    color: #000;
    background: url('../img/icon-phone-black.png') no-repeat left center;
    text-decoration: none;
}

.header-callback {
    font-family: @light;
    font-size: 18px;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;

    &:hover {
        border-color: transparent;
    }
}

// #main
main {
    padding-top: 125px;
}

// #promo
.promo {
    min-height: 791px;
    padding-top: 73px;
    color: #fff;
    background: url('../img/bg-promo.jpg') no-repeat center top;
}

.promo-dog {
    position: absolute;
    width: 444px;
    height: 788px;
    top: -65px;
    // left: 65px;
    background: url('../img/icon-doggy.png') no-repeat center center;
    //
    left: -200px;
    opacity: 0;
    transition: all 1.2s ease;

    &.visible {
        opacity: 1;
        left: 65px;
    }
}

.promo-title,
.promo-subtitle {
    margin-left: 555px;
}

.promo-title {
    margin-top: 20px;
    font-family: @semibold;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
}

.promo-subtitle {
    margin-top: 40px;
    font-family: @regular;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

form {
    width: 815px;
    padding: 35px 74px 45px;
    border: 5px solid #e67e22;
    border-radius: 15px;

    input[type=text],
    input[type=email],
    textarea,
    select {
        padding: 3px 23px 0;
        font-family: @light;
        color: #808080;
        background: transparent;
        border: 1px solid #808080;
        border-radius: 15px;
    }

    input[type=text],
    input[type=email],
    select,
    .select-wrapper {
        display: inline-block;
        width: 310px;
        height: 50px;
        margin-bottom: 20px;
        vertical-align: top;
    }

    input[type=text],
    input[type=email],
    .select-wrapper {

        &:nth-child(even) {
            margin-right: 32px;
        }
    }

    input[type=text].fullwidth,
    input[type=email].fullwidth {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    textarea {
        display: block;
        width: 100%;
        height: 120px;
        padding-top: 15px;
        resize: none;
    }

    input[type=submit] {
        position: relative;
        display: block;
        height: 60px;
        margin: 30px auto 0;
        padding: 0 130px;
        font-family: @semibold;
        font-weight: 500;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background: #e67e22;
        border: none;
        border-bottom: 4px solid #703b0d;
        border-radius: 15px;

        &:hover {
            background: lighten(#e67e22, 5%);
            border-bottom-color: lighten(#703b0d, 5%);
        }
        &:active {
            top: 4px;
            background: #e67e22;
            border-bottom: none;
        }
        &[disabled] {
            background: lighten(grey, 10%) !important;
            border-bottom-color: grey !important;
            pointer-events: none;
        }
    }

    .select-wrapper {
        width: 310px;
        height: 50px;
        background: url('../img/icon-select-grey.png') no-repeat right 20px center;
    }
    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
}

.form-title {
    margin: 0 0 40px;
    font-family: @light;
    font-size: 30px;
    text-align: center;
    color: #000;
}

.promo-form {
    position: relative;
    margin-top: 20px;
    background: #fff;
}

.promo-title,
.promo-subtitle,
.promo-form {
    position: relative;
    right: -200px;
    opacity: 0;
    transition: all 1.2s ease;

    &.visible {
        opacity: 1;
        right: 0;
    }
}

.block-title {
    display: block;
    font-family: @semibold;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
}

// #problems
.problems {
    padding: 73px 0;
    background: #fff;
    text-align: center;
}

.problems-list {
    margin-top: 64px;
    padding: 0 25px;
}

.problems-single-wrapper {
    display: inline-block;
    width: 33.333333333333%;
    margin-right: -4px;
    vertical-align: top;
    //
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: all 0.8s ease;

    &.visible {
        bottom: 0;
        opacity: 1;
    }
}

.problems-single {
    width: 240px;
    margin: 0 auto;
    text-align: center;

    .img-wrapper {
        display: block;
        height: 144px;
    }

    figcaption {
        font-size: 20px;
        line-height: 25px;
    }
}

.problems-single-wrapper:first-child .problems-single {
    margin-left: 0;
}

.problems-single-wrapper:last-child .problems-single {
    margin-right: 0;
}

.problems-single-wrapper:last-child img {
    margin-top: 10px;
}

.problems-solution {
    position: relative;
    margin: 64px 0 0;
    padding: 15px 0;
    padding-left: 25px;
    font-size: 30px;
    line-height: 40px;
    text-align: left;

    span {
        font-family: @light;
    }

    &:before,
    &:after {
        position: absolute;
        content: url('../img/icon-corner-orange.png');
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
}

// #advantages
.advantages {
    position: relative;
    min-height: 880px;
    padding: 65px 0 0;
    text-align: center;
    color: #fff;
    background: url('../img/bg-advantages.jpg') no-repeat top center;
}

.advantages-shepherd {
    position: absolute;
    width: 268px;
    height: 439px;
    left: 0;
    top: -345px;
    background: url('../img/icon-shepherd.png') no-repeat center center;
    z-index: 1;
}

.advantages-list {
    margin-top: 64px;
    padding: 0 25px;
}

.advantages-single-wrapper {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    vertical-align: top;
    //
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: all 0.8s ease;

    &.visible {
        bottom: 0;
        opacity: 1;
    }
}

.advantages-single {
    width: 240px;
    margin: 0 auto;
    text-align: center;

    .img-wrapper {
        display: block;
        height: 151px;
    }

    figcaption {
        font-size: 20px;
        line-height: 25px;
    }
}

.advantages-single-wrapper:first-child .advantages-single {
    margin-left: 0;
}

.advantages-single-wrapper:last-child .advantages-single {
    margin-right: 0;
}

.advantages-single-wrapper:not(:nth-child(2)) img {
    margin-top: 5px;
}

.advantages-fake {
    margin: 50px 0 43px;
    padding: 30px 0;
    font-size: 30px;
    border-radius: 15px;
    background: #e67e22;
}

.advantages-justdoit {
    display: block;
    font-family: @semibold;
    font-weight: 500;
    font-size: 50px;
}

.advantages-results {
    margin: 35px 0 0;
    padding: 0;
    text-align: left;
    list-style-position: inside;

    li {
        font-size: 25px;
        line-height: 45px;

        span {
            font-family: @light;
        }
    }
}

.programms {
    padding: 65px 0 45px;
    background: #fff;
}

.programms-table-wrapper {
    position: relative;
    margin: 50px 0;

    table {
        width: 100%;

        td, th {
            padding: 20px 0;
            text-align: center;
        }

        th {
            font-size: 20px;
            font-weight: 400;
            color: #fff;
            background: #e67e22;
        }

        th:first-child,
        td:first-child {
            padding-left: 45px;
            text-align: left;
        }

        tr:nth-child(odd) {

            td {
                background: #ecf0f1;
            }
        }

        a {
            display: inline-block;
            padding-bottom: 2px;
            text-decoration: none;
            color: #000;
            border-bottom: 1px dashed #000;

            &:hover {
                border-color: transparent;
            }
        }
    }
}

.programms-decor-ball,
.programms-decor-bone {
    position: absolute;
}

.programms-decor-ball {
    width: 73px;
    height: 74px;
    top: -8px;
    left: -48px;
    background: url('../img/icon-ball-yellow.png') no-repeat center center;
}

.programms-decor-bone {
    width: 83px;
    height: 106px;
    top: -28px;
    right: -37px;
    background: url('../img/icon-bone-pink.png') no-repeat center center;
}

.programms-comments {
    text-align: center;

    p {
        margin: 35px 0 0;
    }

    strong {
        display: block;
        margin-bottom: 5px;
    }
}

// #video
.video {
    min-height: 860px;
    padding: 120px 0 0;
    color: #fff;
    background: url('../img/bg-video.jpg') no-repeat center top;

    .block-title {
        margin-left: 535px;
        padding-left: 43px;
        text-align: left;
        border-left: 8px solid #e67e22;
        //
        position: relative;
        left: -150px;
        opacity: 0;
        transition: all 0.7s ease;

        &.visible {
            left: 0;
            opacity: 1;
        }
    }
}

.video-slider {
    width: 680px;
    margin-top: 70px;
    margin-left: 535px;
    text-align: center;
    //
    position: relative;
    left: -150px;
    opacity: 0;
    transition: all 0.7s ease;

    &.visible {
        left: 0;
        opacity: 1;
    }
}

.video-slide img {
    cursor: pointer;
}

.video-slider-prev,
.video-slider-next {
    position: absolute;
    width: 33px;
    height: 55px;
    top: 150px;
    background: url('../img/icon-arrow-grey.png') no-repeat center center;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.video-slider-prev {
    left: -70px;
}

.video-slider-next {
    right: -70px;
    transform: rotate(180deg);
}

.slick-dots {
    display: inline-block;
    margin: 30px 0 0;
    padding: 14px 44px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;

    li {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-right: 16px;
        background: #fff;
        border-radius: 50%;
        vertical-align: top;
        cursor: pointer;

        &:last-child {
            margin-right: -4px;
        }
        &.slick-active {
            background: #e67e22;
        }
    }

    button {
        display: none;
    }
}

// #contacts
.contacts {
    position: relative;
    padding: 60px 0 180px;
    background: #fef9f4;
    text-align: center;
}

.contacts-phone,
.contacts-email {
    display: inline-block;
    margin: 55px 0 45px;
    margin-right: -4px;
    font-family: @light;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    vertical-align: middle;
}

.contacts-phone {
    padding-left: 35px;
    background: url('../img/icon-phone-white.png') no-repeat left center;
    //
    position: relative;
    left: -100px;
    opacity: 0;
    transition: all 0.9s ease;

    &.visible {
        left: 0;
        opacity: 1;
    }
}

.contacts-email {
    margin-left: 105px;
    padding-left: 40px;
    background: url('../img/icon-email-white.png') no-repeat left center;
    //
    position: relative;
    right: -100px;
    opacity: 0;
    transition: all 0.9s ease;

    span {
        padding-bottom: 2px;
        border-bottom: 1px dashed #000;
    }

    &:hover {

        span {
            border-color: transparent;
        }
    }
    &.visible {
        right: 0;
        opacity: 1;
    }
}

.contacts-form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: #fef9f4;
    z-index: 1;
    //
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: all 0.9s ease;

    &.visible {
        opacity: 1;
        bottom: 0;
    }
}

.contacts-bulldog {
    position: absolute;
    width: 545px;
    height: 375px;
    right: 20px;
    bottom: 30px;
    background: url('../img/icon-bulldog.png') no-repeat center center;
}

// #modal
.modal {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    padding: 25px;
    background: #fff;
    border: 5px solid #e67e22;
    border-radius: 15px;

    ul {
        padding: 0;
        list-style-position: inside;

        li {
            line-height: 25px;
        }
    }
}

#thanks {
    max-width: 350px;
    text-align: center;
}

.modal-title {
    display: block;
    margin: 0 0 20px;
    font-size: 18px;
}

// #inner scroll fix
.mfp-container {
    overflow: hidden;
}
