@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular.eot");
  src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight.eot");
  src: url("../fonts/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight.woff") format("woff"), url("../fonts/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoSemibold";
  src: url("../fonts/LatoSemibold.eot");
  src: url("../fonts/LatoSemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoSemibold.woff") format("woff"), url("../fonts/LatoSemibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
}
small {
  font-size: 12px;
}
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
body {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  padding: 30px 0 35px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.header-logo img {
  display: block;
  width: 235px;
}
.header-menu {
  margin-left: 155px;
  padding-top: 20px;
  font-family: 'LatoLight', 'Roboto', sans-serif;
}
.header-menu ul li {
  display: inline-block;
  margin-right: 16px;
  vertical-align: top;
}
.header-menu ul li:after {
  content: '/';
  margin-left: 20px;
  color: #b2b2b2;
}
.header-menu ul li:last-child {
  margin-right: -4px;
}
.header-menu ul li:last-child:after {
  content: none;
}
.header-menu ul a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header-menu ul a:hover {
  border-color: #000;
}
.header-contact {
  text-align: right;
}
.header-phone {
  display: block;
  margin-bottom: 5px;
  padding-left: 25px;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000;
  background: url('../img/icon-phone-black.png') no-repeat left center;
  text-decoration: none;
}
.header-callback {
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 18px;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
}
.header-callback:hover {
  border-color: transparent;
}
main {
  padding-top: 125px;
}
.promo {
  min-height: 791px;
  padding-top: 73px;
  color: #fff;
  background: url('../img/bg-promo.jpg') no-repeat center top;
}
.promo-dog {
  position: absolute;
  width: 444px;
  height: 788px;
  top: -65px;
  background: url('../img/icon-doggy.png') no-repeat center center;
  left: -200px;
  opacity: 0;
  transition: all 1.2s ease;
}
.promo-dog.visible {
  opacity: 1;
  left: 65px;
}
.promo-title,
.promo-subtitle {
  margin-left: 555px;
}
.promo-title {
  margin-top: 20px;
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
}
.promo-subtitle {
  margin-top: 40px;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
form {
  width: 815px;
  padding: 35px 74px 45px;
  border: 5px solid #e67e22;
  border-radius: 15px;
}
form input[type=text],
form input[type=email],
form textarea,
form select {
  padding: 3px 23px 0;
  font-family: 'LatoLight', 'Roboto', sans-serif;
  color: #808080;
  background: transparent;
  border: 1px solid #808080;
  border-radius: 15px;
}
form input[type=text],
form input[type=email],
form select,
form .select-wrapper {
  display: inline-block;
  width: 310px;
  height: 50px;
  margin-bottom: 20px;
  vertical-align: top;
}
form input[type=text]:nth-child(even),
form input[type=email]:nth-child(even),
form .select-wrapper:nth-child(even) {
  margin-right: 32px;
}
form input[type=text].fullwidth,
form input[type=email].fullwidth {
  display: block;
  width: 100%;
  margin-right: 0;
}
form textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 15px;
  resize: none;
}
form input[type=submit] {
  position: relative;
  display: block;
  height: 60px;
  margin: 30px auto 0;
  padding: 0 130px;
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #e67e22;
  border: none;
  border-bottom: 4px solid #703b0d;
  border-radius: 15px;
}
form input[type=submit]:hover {
  background: #e98b39;
  border-bottom-color: #874710;
}
form input[type=submit]:active {
  top: 4px;
  background: #e67e22;
  border-bottom: none;
}
form input[type=submit][disabled] {
  background: #9a9a9a !important;
  border-bottom-color: grey !important;
  pointer-events: none;
}
form .select-wrapper {
  width: 310px;
  height: 50px;
  background: url('../img/icon-select-grey.png') no-repeat right 20px center;
}
form select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-title {
  margin: 0 0 40px;
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #000;
}
.promo-form {
  position: relative;
  margin-top: 20px;
  background: #fff;
}
.promo-title,
.promo-subtitle,
.promo-form {
  position: relative;
  right: -200px;
  opacity: 0;
  transition: all 1.2s ease;
}
.promo-title.visible,
.promo-subtitle.visible,
.promo-form.visible {
  opacity: 1;
  right: 0;
}
.block-title {
  display: block;
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 45px;
  text-align: center;
}
.problems {
  padding: 73px 0;
  background: #fff;
  text-align: center;
}
.problems-list {
  margin-top: 64px;
  padding: 0 25px;
}
.problems-single-wrapper {
  display: inline-block;
  width: 33.333333333333%;
  margin-right: -4px;
  vertical-align: top;
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.8s ease;
}
.problems-single-wrapper.visible {
  bottom: 0;
  opacity: 1;
}
.problems-single {
  width: 240px;
  margin: 0 auto;
  text-align: center;
}
.problems-single .img-wrapper {
  display: block;
  height: 144px;
}
.problems-single figcaption {
  font-size: 20px;
  line-height: 25px;
}
.problems-single-wrapper:first-child .problems-single {
  margin-left: 0;
}
.problems-single-wrapper:last-child .problems-single {
  margin-right: 0;
}
.problems-single-wrapper:last-child img {
  margin-top: 10px;
}
.problems-solution {
  position: relative;
  margin: 64px 0 0;
  padding: 15px 0;
  padding-left: 25px;
  font-size: 30px;
  line-height: 40px;
  text-align: left;
}
.problems-solution span {
  font-family: 'LatoLight', 'Roboto', sans-serif;
}
.problems-solution:before,
.problems-solution:after {
  position: absolute;
  content: url('../img/icon-corner-orange.png');
}
.problems-solution:before {
  top: 0;
  left: 0;
}
.problems-solution:after {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
.advantages {
  position: relative;
  min-height: 880px;
  padding: 65px 0 0;
  text-align: center;
  color: #fff;
  background: url('../img/bg-advantages.jpg') no-repeat top center;
}
.advantages-shepherd {
  position: absolute;
  width: 268px;
  height: 439px;
  left: 0;
  top: -345px;
  background: url('../img/icon-shepherd.png') no-repeat center center;
  z-index: 1;
}
.advantages-list {
  margin-top: 64px;
  padding: 0 25px;
}
.advantages-single-wrapper {
  display: inline-block;
  width: 25%;
  margin-right: -4px;
  vertical-align: top;
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.8s ease;
}
.advantages-single-wrapper.visible {
  bottom: 0;
  opacity: 1;
}
.advantages-single {
  width: 240px;
  margin: 0 auto;
  text-align: center;
}
.advantages-single .img-wrapper {
  display: block;
  height: 151px;
}
.advantages-single figcaption {
  font-size: 20px;
  line-height: 25px;
}
.advantages-single-wrapper:first-child .advantages-single {
  margin-left: 0;
}
.advantages-single-wrapper:last-child .advantages-single {
  margin-right: 0;
}
.advantages-single-wrapper:not(:nth-child(2)) img {
  margin-top: 5px;
}
.advantages-fake {
  margin: 50px 0 43px;
  padding: 30px 0;
  font-size: 30px;
  border-radius: 15px;
  background: #e67e22;
}
.advantages-justdoit {
  display: block;
  font-family: 'LatoSemibold', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 50px;
}
.advantages-results {
  margin: 35px 0 0;
  padding: 0;
  text-align: left;
  list-style-position: inside;
}
.advantages-results li {
  font-size: 25px;
  line-height: 45px;
}
.advantages-results li span {
  font-family: 'LatoLight', 'Roboto', sans-serif;
}
.programms {
  padding: 65px 0 45px;
  background: #fff;
}
.programms-table-wrapper {
  position: relative;
  margin: 50px 0;
}
.programms-table-wrapper table {
  width: 100%;
}
.programms-table-wrapper table td,
.programms-table-wrapper table th {
  padding: 20px 0;
  text-align: center;
}
.programms-table-wrapper table th {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background: #e67e22;
}
.programms-table-wrapper table th:first-child,
.programms-table-wrapper table td:first-child {
  padding-left: 45px;
  text-align: left;
}
.programms-table-wrapper table tr:nth-child(odd) td {
  background: #ecf0f1;
}
.programms-table-wrapper table a {
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px dashed #000;
}
.programms-table-wrapper table a:hover {
  border-color: transparent;
}
.programms-decor-ball,
.programms-decor-bone {
  position: absolute;
}
.programms-decor-ball {
  width: 73px;
  height: 74px;
  top: -8px;
  left: -48px;
  background: url('../img/icon-ball-yellow.png') no-repeat center center;
}
.programms-decor-bone {
  width: 83px;
  height: 106px;
  top: -28px;
  right: -37px;
  background: url('../img/icon-bone-pink.png') no-repeat center center;
}
.programms-comments {
  text-align: center;
}
.programms-comments p {
  margin: 35px 0 0;
}
.programms-comments strong {
  display: block;
  margin-bottom: 5px;
}
.video {
  min-height: 860px;
  padding: 120px 0 0;
  color: #fff;
  background: url('../img/bg-video.jpg') no-repeat center top;
}
.video .block-title {
  margin-left: 535px;
  padding-left: 43px;
  text-align: left;
  border-left: 8px solid #e67e22;
  position: relative;
  left: -150px;
  opacity: 0;
  transition: all 0.7s ease;
}
.video .block-title.visible {
  left: 0;
  opacity: 1;
}
.video-slider {
  width: 680px;
  margin-top: 70px;
  margin-left: 535px;
  text-align: center;
  position: relative;
  left: -150px;
  opacity: 0;
  transition: all 0.7s ease;
}
.video-slider.visible {
  left: 0;
  opacity: 1;
}
.video-slide img {
  cursor: pointer;
}
.video-slider-prev,
.video-slider-next {
  position: absolute;
  width: 33px;
  height: 55px;
  top: 150px;
  background: url('../img/icon-arrow-grey.png') no-repeat center center;
  cursor: pointer;
}
.video-slider-prev:hover,
.video-slider-next:hover {
  opacity: 0.8;
}
.video-slider-prev {
  left: -70px;
}
.video-slider-next {
  right: -70px;
  transform: rotate(180deg);
}
.slick-dots {
  display: inline-block;
  margin: 30px 0 0;
  padding: 14px 44px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}
.slick-dots li {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 16px;
  background: #fff;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}
.slick-dots li:last-child {
  margin-right: -4px;
}
.slick-dots li.slick-active {
  background: #e67e22;
}
.slick-dots button {
  display: none;
}
.contacts {
  position: relative;
  padding: 60px 0 180px;
  background: #fef9f4;
  text-align: center;
}
.contacts-phone,
.contacts-email {
  display: inline-block;
  margin: 55px 0 45px;
  margin-right: -4px;
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 25px;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
}
.contacts-phone {
  padding-left: 35px;
  background: url('../img/icon-phone-white.png') no-repeat left center;
  position: relative;
  left: -100px;
  opacity: 0;
  transition: all 0.9s ease;
}
.contacts-phone.visible {
  left: 0;
  opacity: 1;
}
.contacts-email {
  margin-left: 105px;
  padding-left: 40px;
  background: url('../img/icon-email-white.png') no-repeat left center;
  position: relative;
  right: -100px;
  opacity: 0;
  transition: all 0.9s ease;
}
.contacts-email span {
  padding-bottom: 2px;
  border-bottom: 1px dashed #000;
}
.contacts-email:hover span {
  border-color: transparent;
}
.contacts-email.visible {
  right: 0;
  opacity: 1;
}
.contacts-form {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background: #fef9f4;
  z-index: 1;
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.9s ease;
}
.contacts-form.visible {
  opacity: 1;
  bottom: 0;
}
.contacts-bulldog {
  position: absolute;
  width: 545px;
  height: 375px;
  right: 20px;
  bottom: 30px;
  background: url('../img/icon-bulldog.png') no-repeat center center;
}
.modal {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding: 25px;
  background: #fff;
  border: 5px solid #e67e22;
  border-radius: 15px;
}
.modal ul {
  padding: 0;
  list-style-position: inside;
}
.modal ul li {
  line-height: 25px;
}
#thanks {
  max-width: 350px;
  text-align: center;
}
.modal-title {
  display: block;
  margin: 0 0 20px;
  font-size: 18px;
}
.mfp-container {
  overflow: hidden;
}
@media screen and (max-width: 1800px) {
  .advantages-shepherd {
    display: none;
  }
}
@media screen and (max-width: 1380px) {
  .programms-decor-ball,
  .programms-decor-bone {
    display: none;
  }
}
@media screen and (max-width: 1330px) {
  .container {
    width: 1000px;
  }
  .header-menu {
    width: 350px;
    margin-left: 60px;
    padding-top: 5px;
  }
  .header-menu ul li {
    width: 50%;
    margin-right: -4px;
    margin-bottom: 10px;
  }
  .header-menu ul li:after {
    content: none;
  }
  .promo-dog.animate {
    left: -65px;
  }
  .promo-title,
  .promo-subtitle {
    margin-left: 260px;
  }
  .promo-title.animate,
  .promo-subtitle.animate {
    right: 0;
  }
  .promo-title.animate,
  .promo-subtitle.animate,
  .promo-form.animate {
    right: 0;
  }
  .advantages {
    background-size: cover;
    padding-bottom: 60px;
  }
  .advantages-single {
    width: 220px;
  }
  .problems-single-wrapper.animate,
  .advantages-single-wrapper.animate {
    bottom: 0;
  }
  .video .block-title {
    margin-left: 350px;
  }
  .video-slider {
    margin-left: auto;
    margin-right: auto;
  }
  .video .block-title.animate,
  .video-slider.animate {
    left: 0;
  }
  .contacts-phone.animate {
    left: 0;
  }
  .contacts-email.animate {
    right: 0;
  }
  .contacts-form.animate {
    bottom: 0;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-menu,
  .promo-dog {
    display: none;
  }
  header {
    height: 167px;
    padding: 15px 0;
  }
  .header-logo,
  .header-contact {
    float: none;
  }
  .header-contact {
    display: block;
    margin-top: 20px;
    text-align: left;
  }
  main {
    padding-top: 167px;
  }
  .promo,
  .problems,
  .advantages,
  .programms,
  .video,
  .contacts {
    padding: 25px 0;
  }
  .promo {
    background: url('../img/bg-promo-mobile.jpg') no-repeat left top;
    background-size: cover;
  }
  .promo-subtitle,
  .promo-title {
    margin-left: 0;
  }
  form {
    width: 100%;
    padding: 25px 20px;
  }
  form input[type=text],
  form input[type=email],
  form select,
  form .select-wrapper {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  form input[type=submit] {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .problems-list,
  .advantages-list {
    margin: 25px 0 0;
    padding: 0;
  }
  .problems-single-wrapper,
  .advantages-single-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  .problems-single,
  .advantages-single {
    width: 100%;
  }
  .problems-solution {
    margin-top: 0;
    font-size: 26px;
  }
  .advantages-fake {
    margin-top: 0;
  }
  .advantages-results li {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: normal;
  }
  .programms-table-wrapper {
    width: 100%;
    margin: 25px 0;
    overflow-x: scroll;
  }
  .programms-table-wrapper table {
    width: 1100px;
  }
  .video {
    min-height: 0;
    background-size: cover;
  }
  .video .block-title {
    margin-left: 0;
    padding-left: 0;
    border: none;
  }
  .video-slider {
    width: 100%;
    margin-top: 25px;
  }
  .video-slider-prev,
  .video-slider-next {
    display: none !important;
  }
  .slick-dots {
    width: 100%;
    padding: 10px;
  }
  .contacts-phone,
  .contacts-email {
    display: block;
    margin: 25px 0;
  }
  .contacts-bulldog {
    display: none;
  }
  .mfp-container {
    overflow: inherit;
  }
}
